/**
 * View print styles.
 *
 * @since 5.3.2
 */

.single-tribe_events,
.single-tribe_events.tribe-common--breakpoint-medium,
.tribe-events,
.tribe-events.tribe-common--breakpoint-medium {
	.tribe-filter-bar {
		display: none !important;
	}

	.tribe-filter-bar--open ~ [class*="tribe-events-calendar"],
	.tribe-filter-bar--open ~ [class*="tribe-events-pro"] {
		width: 100% !important;
	}
}
