/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
	- Logo
	- News-bar
# Base
	- Typography
	- Elements
	- Links
	- Forms
# Layouts
# Components
	- Navigation
	- Slider
	- Parallax
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# Plugins
	- ???
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
/* Logo */

p{
	line-height:1.7em;
	font-size:18px
}

#site-logo{
	max-width:150px;
	min-width:100px;
	width:7%;
	height:auto;
	margin: 0 20px 20px;
	padding-top:20px;
	display:block;
	position: absolute;
	float:left;
	-webkit-transition: width 0.25s;
	-moz-transition: width 0.25s;
	-o-transition: width 0.25s;
	transition: width 0.25s;
	z-index:99;
}

#site-logo img{
	width:100%;
	height:auto
}

@media only screen and (max-width:1490px){
	#site-logo{
		max-width: inherit;
		min-width: inherit;
		width: 60px;
		padding-top:16px;
		-webkit-transition: width 0.25s;
		-moz-transition: width 0.25s;
		-o-transition: width 0.25s;
		transition: width 0.25s
	}
}

@media only screen and (max-width:500px){
	#site-logo{
		width:36px;
		padding-top: 8px
	}
}

@media only screen and (max-width:1000px){
	#site-logo{
		position: absolute
	}
}

/* News-bar */
#newsbar{
	width:100%;
	height:auto;
	padding:10px 0 4px;
	display:block;
	background-color:#118653
}

#newsbar-wrap{
	width:100%;
	max-width:1200px;
	margin:auto;
	overflow: auto
}

@media only screen and (max-width:1240px){
	#newsbar-wrap{
		padding:0 20px
	}
}

#affiliates{
	width:25%;
	height:auto;
	display:block;
	float:left
}

#newsbar-text{
	width:50%;
	height:auto;
	display:block;
	float:left
}

#newsbar-text p{
	margin:0;
	padding:0;
	text-align: center;
	color:#ffffff;
	font-family: 'Open Sans', "Helvetica Neue", 'Arial', sans-serif;
	font-size:15px;
	letter-spacing: 0.02em;
	line-height: 1.4em;
}

@media screen and (max-width: 500px){
	#newsbar-text p{
		font-size:13px;
	}
}

@media screen and (max-width: 400px){
	#newsbar-text p{
		font-size:12px;
	}
}

#newsbar-text p a{
	text-decoration: underline;
	color:#ffffff !important;
	text-underline-offset: 3px
}

#social{
	width:25%;
	height:auto;
	display:block;
	float:left;
	text-align: right
}

#social a{
	margin:0 5px
}

#social a:first-child{
	margin:0 5px 0 0
}

#social a:last-child{
	margin:0 0 0 5px
}

#social a img{
	padding:1px
}

@media screen and (max-width: 999px){
	#social, #affiliates{
		display: none
	}
	
	#newsbar-text{
		width:100%
	}
	
	#newsbar{
		padding-bottom:10px
	}
}

/* Footer */
#footerbar{
	width:100%;
	height:auto;
	display:block;
	background-color:#118653
}

#footerbar .share-exp{
	height:auto;
	margin: auto;
	padding:30px 20px;
	font-family: 'Delivery Light', Arial, Helvetica sans-serif;
	color:#ffffff;
	font-size:34px;
	float:left;
}

@media only screen and (max-width:1120px){
	#footerbar .share-exp{
		font-size:3.7vw;
	}
}

@media only screen and (max-width:860px){
	#footerbar .share-exp:nth-child(2n){
		display:none;
	}
}

@media only screen and (max-width:860px){
	#footerbar .share-exp:first-child{
		width:100%;
		font-size: 40px;
    	text-align: center;
		padding-bottom:3px;
		line-height:1.2em;
	}

	#footerbar .share-exp:last-child{
		display:none !important;
	}
}

@media only screen and (max-width:790px){
	#footerbar .share-exp{
		font-size:3.6vw;
	}
}

@media only screen and (max-width:732px){
	#footerbar .share-exp{
		font-size:3.4vw;
	}
}

#footerbar-wrap{
	max-width:1200px;
	width:100%;
	margin:auto;
	overflow: auto;
}

#footerbar div span{
	font-family: 'Delivery Condensed Black', Arial, Helvetica sans-serif !important;
	letter-spacing: 0.03em;
}

#footerbar #share-icons{
	margin-top:43px;
	float:left;
}

@media only screen and (max-width:1120px){
	#footerbar #share-icons{
		margin-top:48px;
	}
}

@media only screen and (max-width:1098px){
	#footerbar #share-icons{
		margin-top:46px;
	}
}

@media only screen and (max-width:960px){
	#footerbar #share-icons{
		margin-top:43px;
	}
}

@media only screen and (max-width:860px){
	#footerbar #share-icons{
		margin:10px 0 20px;
		width:100%;
		text-align: center;
	}
}

#footerbar #sep{
	float:left;
	font-size:34px;
	color:#ffffff;
	margin-top:28px;
	padding-left:14px;
}

@media only screen and (max-width:1120px){
	#footerbar #sep{
		margin-top:33px;
	}
}

@media only screen and (max-width:1020px){
	#footerbar #sep{
		margin-top:29px;
	}
}

@media only screen and (max-width:860px){
	#footerbar #sep{
		margin-top:25px;
		display:none;
	}
}

@media only screen and (max-width:732px){
	#footerbar #sep{
		margin-top:25px;
		width:2%;
	}
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography */

@font-face {
	font-family: 'Delivery';
	src: url('../burt/fonts/Delivery.woff2') format('woff2');
	ascent-override: 88%;
	url('../burt/fonts/Delivery.ttf') format('truetype'),
	url('../burt/fonts/Delivery.woff') format('woff'),
	url('../burt/fonts/Delivery.svg') format('svg'),
	url('../burt/fonts/Delivery.otf') format('opentype')
}

@font-face {
	font-family: 'Delivery Regular';
	src: url('../burt/fonts/Delivery_Rg.woff2') format('woff2');
	ascent-override: 88%;
	url('../burt/fonts/Delivery_Rg.ttf') format('truetype'),
	url('../burt/fonts/Delivery_Rg.woff') format('woff'),
	url('../burt/fonts/Delivery_Rg.svg') format('svg'),
	url('../burt/fonts/Delivery_Rg.otf') format('opentype')
}

@font-face {
	font-family: 'Delivery Condensed Black';
	src: url('../burt/fonts/Delivery_CdBlk.woff2') format('woff2');
	ascent-override: 88%;
	url('../burt/fonts/Delivery_CdBlk.ttf') format('truetype'),
	url('../burt/fonts/Delivery_CdBlk.woff') format('woff'),
	url('../burt/fonts/Delivery_CdBlk.svg') format('svg'),
	url('../burt/fonts/Delivery_CdBlk.otf') format('opentype')
}

body {
 /*font-family: 'Open Sans', "Helvetica Neue", 'Arial', sans-serif !important;*/
 font-family: 'Delivery Regular', Arial, Helvetica sans-serif;
}

/* Elements */
header.site-header {
	background-color: #013148
}

@media screen and (min-width: 1000px){
	.page-template-default header.site-header, .tribe-events-page-template header.site-header{
		height: 135px;
	}
}

@media screen and (max-width: 999px){
	header {
		position:fixed;
		top:0;
		width:100%;
		height:135px;
	}
	
	.site-header{
		z-index: 99999999999 !important;
	}
}

@media only screen and (max-width:500px){
	header{
		height:94px
	}
}

footer{
	background-color:#000
}

footer ul li a:hover{
	text-decoration: underline !important;
	text-underline-offset: 3px
}

button.menu-toggle, #evt-bu button, #join-bu button{
	background-color:#118653 !important;
	border:0 !important;
	cursor:pointer
	/*background-color:#085a36 !important*/
}

nav button.menu-toggle{
	background-color:inherit !important;	
}

#join-bu button{
	background-color:transparent !important;
}

.main-navigation.toggled button{
	/*background-color:#013148 !important*/
}

/* Links */

header a:visited, #upcoming a:visited{
	color:#ffffff 
}

.tribe-common .tribe-common-b2, .tribe-common .tribe-common-h5, .tribe-common .tribe-common-h3, .tribe-common .tribe-common-h2, .tribe-common .tribe-common-h1{
	font-family: 'Delivery Regular', Arial, Helvetica sans-serif !important;
}

.tribe-common .tribe-common-h6{
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
}

.tribe-common .tribe-common-b2{
	font-family: 'Delivery Regular', Arial, Helvetica sans-serif !important;
}

.tribe-events-pro-photo__event-details .tribe-common--breakpoint-medium.tribe-common .tribe-common-b2{
	font-size: 17.5px !important;
	line-height: 1.5em !important;
	color:#013148 !important;
}

#all-evts-bu{
	float: right;
	margin-top: 65px;
	text-decoration: none;
	font-family: 'Delivery Regular', Arial, Helvetica sans-serif !important;
	color:#013148;
	font-size:20px;
	z-index:9999;
	position: relative;
}

#all-evts-bu:hover{
	text-decoration: underline;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container{
	z-index:9 !important;
	position: relative !important;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/* Home */
.home .entry-content{
	margin:0
}

.home #upcoming{
	height:auto;
	background-color:#013148;
	padding: 48px 0 50px;
	display: block;
}

@media only screen and (max-width:999px){
	.home #upcoming{
		padding: 135px 0 0
	}
}

@media only screen and (max-width:500px){
	.home #upcoming{
		padding: 94px 0 0
	}
}

.home #upcoming-wrap{
	overflow:auto;
	height:auto;
	width:100%;
	max-width:1240px;
	padding:0 20px;
	/*background-color:red;*/
	margin:auto
}

.home #whatson-wrap{
	overflow:auto;
	height:auto;
	width:100%;
	max-width:1240px;
	padding:0 20px;
	/*background-color:red;*/
	margin:auto
}

/*#upcoming-title h1:before{
	content: "";
	display: block;
	width: 250px;
	height: 8px;
	background: #118653;
	left: -100px;
	top: 35%;
	position: absolute;
}

#upcoming-title h1:after{
	content: "";
	display: block;
	width: 250px;
	height: 8px;
	background: #118653;
	right: -100px;
	top: 35%;
	position: absolute;
}

#upcoming-title h1{
	font-family: sans-serif;
	margin: 50px auto 10px;
	text-align: center;
	color: #013148;
	max-width: 600px;
	position: relative;
	font-size:30px;
	text-transform: uppercase;
	font-family: 'Delivery Regular', Arial, Helvetica sans-serif;
	letter-spacing: 0.005em;
}*/

#experience img{
	display: block;
}

#primary-evt{
	display:block;
	/*background-color:green;*/
	float:left;
	width:70%;
	height:auto
}

@media only screen and (max-width:525px){
	#primary-evt, #secondary-evt, #tertiary-evt{
		width:100%
	}
	
	.home #upcoming-wrap{
		padding:0
	}
}

#secondary-evt{
	display:block;
	/*background-color:blue;*/
	float:left;
	width:30%;
	height:auto;
	padding: 0 0 24px 40px
}

#tertiary-evt{
	display:block;
	/*background-color:orange;*/
	float:left;
	width:30%;
	height:auto;
	padding-left:40px
}

#primary-evt img, #secondary-evt img, #tertiary-evt img{
	width:100%;
	display: block
}

@media only screen and (max-width:1000px){
	#primary-evt{
		width:100%;
		padding-bottom:40px
	}
	
	#secondary-evt{
		width:50%;
		padding:0 20px 24px 0
	}
	
	#tertiary-evt{
		width:50%;
		padding:0 0 24px 20px
	}
}

@media only screen and (max-width:525px){
	#secondary-evt, #tertiary-evt{
		width:100%;
		padding:0 0 40px 0
	}
}

.evt-date, .evt-title, .evt-subtitle{
	color:#ffffff
}

.evt-date{
	margin:22px 0 0 4px;
	border-left:10px solid #118653;
	padding-left:10px;
	font-size:20px;
	letter-spacing: 0.02em;
	line-height:1em
	/*border:1px solid pink;*/
}

#secondary-evt .evt-date, #tertiary-evt .evt-date{
	margin-top:16px;
	border-left:10px solid #118653;
	padding: 0 10px;
	font-size:16px;
	letter-spacing: 0.02em;
	line-height:1.2em
}

.evt-title{
	font-family: 'Delivery', Arial, Helvetica sans-serif;
	letter-spacing: 0.005em;
	font-size:60px;
	line-height:1em;
	padding:14px 20px 8px 0
}

#primary-evt .evt-title{
	overflow:auto;
}

.evt-title a{
	text-decoration: none;
	color:#ffffff;
}

.evt-title a:hover{
	color:#118653;
}

#secondary-evt .evt-title, #tertiary-evt .evt-title{
	font-size:28px;
	font-family: 'Delivery', Arial, Helvetica sans-serif;
	line-height:1.2em;
	padding:8px 20px 12px 0;
}

.evt-subtitle{
	font-size:20px;
	letter-spacing: 0.02em;
	padding-left:3px
	/*border:1px solid green;*/
}

#evt-bu{
	width:25%;
	/*background-color:#00b9ff;*/
	float:left
}

#evt-bu button{
	color:#ffffff;
	border:3px solid #118653 !important;
	background-color:#013148 !important;
	border-radius:50px;
	width:auto;
	float:right;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Delivery', Arial, Helvetica sans-serif;
	padding: 14px 20px 12px;
	letter-spacing: 0.03em;
	margin-top:50px;
}

#evt-bu button:hover{
	background-color:#118653 !important
}

#secondary-evt #evt-bu button, #tertiary-evt #evt-bu button{
	margin-top:15px;
	padding: 13.5px 12px 13.5px;
	color:transparent;
	font-size:0
}

#evt-bu button:before{
	background-image:url('/wp-content/themes/burt/images/ticket_icon.svg');
	background-size: 14px 14px;
	display: inline-block;
	width: 14px; 
	height: 14px;
	margin-right:7px;
	content:"";
}

@media only screen and (max-width:767px){
	#secondary-evt #evt-bu button, #tertiary-evt #evt-bu button{
		color:#ffffff;
		font-size:20px
	}
	
	#secondary-evt #evt-bu button:before, #tertiary-evt #evt-bu button:before{
		background-size: 14px 14px;
		width: 14px; 
		height: 14px;
		margin-right:7px
	}
}

@media only screen and (min-width:768px){
	#secondary-evt #evt-bu button:before, #tertiary-evt #evt-bu button:before{
		background-size: 20px 20px;
		width: 20px; 
		height: 20px;
		margin-right:0
	}
}

#evt-cont{
	/*background-color:red;*/
	width:75%;
	float:left
}

@media only screen and (max-width:767px){
	#evt-cont, #evt-bu, #evt-bu button{
		width:100%;
		float:none;
		display:block
	}
	
	#evt-bu button{
		margin-top:26px
	}
}

#evt-wrap{
	overflow:auto;
	/*background-color:grey*/
}

@media only screen and (max-width:525px){
	#secondary-evt #evt-bu button, #tertiary-evt #evt-bu button{
		margin-top:6px
	}
	
	#secondary-evt .evt-title, #tertiary-evt .evt-title{
		font-size:44px;
		padding-top:12px
	}
	
	#secondary-evt .evt-date, #tertiary-evt .evt-date{
		font-size:20px
	}
	
	#evt-wrap{
		padding:10px 20px
	}
	
	#secondary-evt #evt-wrap, #tertiary-evt #evt-wrap{
		padding:10px 20px
	}
}

.home #whatson{
	height:auto;
	width:100%;
	display:block;
	position: relative
}

.page-template-default .entry-content, .post-type-archive.tribe-events-page-template .entry-content{
	width:100%;
	margin:0 auto 5px;
	max-width:1200px;
	padding:40px 0 36px
}

@media only screen and (max-width:1240px){
	.page-template-default .entry-content, .post-type-archive.tribe-events-page-template .entry-content{
		padding:20px 20px 36px
	}
}

@media only screen and (max-width:775px){
	.page-template-default .entry-content, .post-type-archive.tribe-events-page-template .entry-content{
		padding:0px 20px
	}
}

.page-id-9 .entry-content{
	overflow:auto;
}

#committed{
	font-size:36px;
	font-family: 'Delivery Condensed Black', Arial, Helvetica sans-serif;
	color:#013148;
	text-align: left;
	max-width:1200px;
	margin:22px auto auto;
	line-height: 1.2em;
}

.page-id-9 .entry-content #content-txt{
	width:40%;
	float:left;
}

.page-id-9 .entry-content #content-imgs{
	padding-left:80px;
	padding-top:26px;
	width:60%;
	float:left;
}

#content-imgs p{
	font-size:12px;
}

/* Footer */

#foot-wrap{
	width:100%;
	max-width:1200px;
	margin:auto;
	overflow:auto;
	padding: 40px 0 30px
}

@media only screen and (max-width:1240px){
	#foot-wrap{
		padding: 40px 20px 30px
	}
}

.post, .page{
	margin-bottom:0 !important
}
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.page-template-default #post-title, .post-type-archive.tribe-events-page-template #post-title{
	width: 100%;
	height:auto;
    margin: 0 auto 5px;
    max-width: 1200px;
	position:absolute;
	left:50%;
    top: 48%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width:1000px){
	.page-template-default #post-title, .post-type-archive.tribe-events-page-template #post-title{
	top:47%;
	}
}

@media only screen and (max-width:775px){
	.page-template-default #post-title, .post-type-archive.tribe-events-page-template #post-title{
	top:48%
	}
}

#post-header-cnt{
	position: relative;
}

.page-template-default.page-id-24 #post-title img{
	padding:0;
	width:43vw;
	margin-left:-12px;
}

@media only screen and (max-width:775px){
	.page-template-default.page-id-24 #post-title img{
		margin-left:0;
	}
}

@media only screen and (min-width:2000px){
	.page-template-default.page-id-24 #post-title img{
		width:35vw;
	}
}

.page-template-default.page-id-32 #post-title img{
	padding:0;
	width:30vw;
	margin-left:-8px;
}

@media only screen and (min-width:2000px){
	.page-template-default.page-id-32 #post-title img{
		width:25vw;
	}
}

@media only screen and (max-width:775px){
	.page-template-default.page-id-32 #post-title{
		width:80% !important;
		margin-left:0;
	}
}

.page-template-default.page-id-9 #post-title img{
	padding:0;
	width:21vw;
}

@media only screen and (min-width:2000px){
	.page-template-default.page-id-9 #post-title img{
		width:18vw;
	}
}

@media only screen and (max-width:775px){
	.page-template-default.page-id-9 #post-title{
		width:61% !important;
	}
}

.post-type-archive.tribe-events-page-template #post-title img{
	padding:0;
	width:40vw;
}

@media only screen and (min-width:2000px){
	.post-type-archive.tribe-events-page-template #post-title img{
		padding:0;
		width:33vw;
	}
}

@media only screen and (max-width:1240px){
	.page-template-default #post-title img, .post-type-archive.tribe-events-page-template #post-title img{
		padding:20px !important;
	}
}

@media only screen and (max-width:775px){
	.page-template-default #post-title img, .post-type-archive.tribe-events-page-template #post-title img{
		width:100% !important;
		padding:20px;
	}
}

.page-template-default .post-thumbnail img, .post-type-archive.tribe-events-page-template .post-thumbnail img{
	z-index:-1;
}

@media only screen and (max-width:999px){
	.page-template-default .post-thumbnail, .tribe-events-page-template .post-thumbnail, .post-type-archive.tribe-events-page-template .post-thumbnail{
		margin-top:135px
	}
}

@media only screen and (max-width:500px){
	.page-template-default .post-thumbnail, .tribe-events-page-template .post-thumbnail, .post-type-archive.tribe-events-page-template .post-thumbnail{
		margin-top:94px
	}
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container{
	padding-top:50px !important;
}

.tribe-events .tribe-events-c-search__button, .tribe-events button.tribe-events-c-search__button{
	background-color:#0c6940 !important;
	color: #ffffff !important;
	border: 3px solid #118653 !important;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
	font-size:20px !important;
	padding: 14px 20px 12px !important;
	line-height: 1em !important;
}

.tribe-events .tribe-events-c-search__button:hover, .tribe-events button.tribe-events-c-search__button:hover{
	background-color:#118653 !important;
	color: #ffffff !important;
	
}

.tribe-events .tribe-events-c-view-selector__list-item-text, .tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input, .tribe-common .tribe-common-form-control-text__input, .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--labels .tribe-events-c-view-selector__button-text{
	font-family: 'Open Sans', "Helvetica Neue", 'Arial', sans-serif !important;
}

.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill{
	font-size:20px !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-link:after{
	background-color:#118653 !important;
}

.tribe-events .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-text{
	color:#118653 !important;
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
}

.tribe-filter-bar .tribe-filter-bar-c-pill--has-selections .tribe-filter-bar-c-pill__pill{
	/*background-color:#118653 !important;
	color:#ffffff !important;*/
}

.tribe-filter-bar .tribe-filter-bar-c-pill__remove-button-icon path{
	stroke: #118653 !important;
}

.tribe-filter-bar-c-pill__pill-label, .tribe-filter-bar .tribe-filter-bar-c-pill--button.tribe-filter-bar-c-pill--has-selections .tribe-filter-bar-c-pill__pill-selections{
	/*font-family: 'Delivery', Arial, Helvetica sans-serif !important;*/
}

.tribe-common--breakpoint-medium.tribe-events--filter-bar-horizontal.tribe-events .tribe-events-header--has-event-search .tribe-events-c-events-bar__filter-button-text{
	font-size: 18px !important;
    line-height: 2.3em;
}

.tribe-filter-bar .tribe-filter-bar-c-pill--has-selections .tribe-filter-bar-c-pill__pill{
	border:2px solid #118653 !important;
	color:#118653 !important;
	background-color:#ffffff !important;
}

.tribe-common .tribe-common-form-control-checkbox__input:checked, .tribe-common .tribe-common-form-control-radio__input:checked{
	background-color:#118653;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4--min-medium{
	font-size:30px !important; 
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-l-container{
	padding-left:0 !important;
	padding-right:0 !important;
}

.tribe-events-pro .tribe-events-pro-photo__event-date-tag-month{
	font-size:21px !important;
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
	color:#013148 !important;
}

.tribe-events-pro .tribe-events-pro-photo__event-date-tag{
	width:62px !important;
	height: fit-content;
	border: 1px solid #013148;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom:2px;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4--min-medium{
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
	line-height: 1em !important;
	letter-spacing: -0.02em !important;
	color:#013148 !important;
}

.tribe-events-pro .tribe-events-pro-photo__event-details{
	margin-top:2.5px !important;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h6{
	color:#118653 !important;
	line-height:2em !important;
	margin-top:2px;
}

.tribe-events-pro .tribe-events-pro-photo__event-title-link:hover{
	color:#118653 !important;
	border-color:#118653 !important;
}

.tribe-events-pro .tribe-events-pro-photo__event-datetime{
	font-size:17px !important;
	line-height:1.2em !important;
	padding-top:2px;
}

.tribe-events-pro .tribe-events-pro-photo__event-title-link{
	font-size:26px !important;
	color:#013148 !important;
}

.tribe-common .tribe-common-c-btn-border, .tribe-common a.tribe-common-c-btn-border{
	color: #013148 !important;
	border-color:#013148 !important;
	border-width:3px !important; 
	text-transform: uppercase !important;
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
	font-size:20px !important;
	padding: 14px 20px !important;
	line-height: 1em !important;
}

.tribe-common .tribe-common-c-btn-border:hover, .tribe-common a.tribe-common-c-btn-border:hover{
	background-color:#013148 !important;
	color:#ffffff !important;
}

.tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-text, .tribe-events .tribe-events-c-subscribe-dropdown button.tribe-events-c-subscribe-dropdown__button-text{
	font-size: 16px !important;
	text-transform: uppercase !important;
	text-align: center;
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
}

.page-template-page-home .tribe-events-header__events-bar{
display: none !important;
}

.tribe-events-pro .tribe-events-pro-photo__event-date-tag-month{
	font-family: 'Delivery Regular', Arial, Helvetica sans-serif !important;
}

.photo-bu {
	margin-top: auto !important;
}

.photo-bu button{
	color: #118653 !important;
	border: 3px solid #118653 !important;
	background-color: #ffffff !important;
	border-radius: 5px !important;
	width: 100% !important;
	font-size: 20px !important;
	text-transform: uppercase !important;
	text-align: center;
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
	padding: 14px 20px 12px !important;
	letter-spacing: 0.02em !important;
	margin-top:16px !important;
	vertical-align: bottom !important;
	transition: 0.3s;
	line-height:1em !important;
}

.photo-bu button:hover{
	background-color:#118653 !important;
	border:3px solid #118653 !important;
	color:#ffffff !important;
}

.photo-bu button:before{
	background-image: url(/wp-content/themes/burt/images/ticket_icon.svg);
	background-size: 14px 14px;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 7px;
	content: "";
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-g-row--gutters>.tribe-common-g-col{
	display: flex !important;
	flex-flow: column nowrap !important;
}

.tribe-events button.tribe-events-c-top-bar__datepicker-button{
	color:#013148 !important;
}

.tribe-common.tribe-common--breakpoint-medium button.tribe-events-c-top-bar__datepicker-button{
	font-size:36px !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container{
	padding-bottom:20px !important;
	max-width:1200px;
}

.tribe-events-pro .tribe-events-pro-photo__event-featured-image{
	padding-bottom:4px !important;
}

#find-bu{
	float:left;
}

@media only screen and (max-width:1120px){
	#find-bu{
		width:100%;
	}
}

#find-bu button{
	color: #118653 !important;
	background-color: #ffffff;
	border-color: #ffffff !important;
	border-width: 3px !important;
	text-transform: uppercase !important;
	font-family: 'Delivery', Arial, Helvetica sans-serif !important;
	font-size: 20px !important;
	padding: 14px 20px !important;
	line-height: 1em !important;
	margin-top:30px;
	margin-left:81px;
	cursor: pointer;
}

@media only screen and (max-width:1240px){
	#find-bu button{
		margin-left:46px;
	}
}

@media only screen and (max-width:1120px){
	#find-bu button{
		width:calc(100% - 40px);
		margin:0 20px 30px;
	}
}

#find-bu button:hover{
	background-color:#0c6940;
	border-color: #0c6940 !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-events-bar--border{
	border:1px solid #013148 !important;
	border-radius:5px !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-events-bar__search-container{
	border-radius:10px !important;
}

.tribe-filter-bar .tribe-filter-bar-c-pill__pill{
	border:2px solid #118653 !important;
	border-radius:30px;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input{
	font-size:20px;
	line-height:1em;
	padding-bottom: 15px !important;
	padding-top: 10px !important;
	padding-left: 50px !important;
	width:97%;
	margin-left:1%;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--labels .tribe-events-c-view-selector__button-text{
font-family: 'Delivery Regular', Arial, Helvetica sans-serif !important;
font-size:18px;
color:var(--tec-color-text-events-bar-input);
}

.tribe-common--breakpoint-medium.tribe-events--filter-bar-horizontal.tribe-events .tribe-events-header--has-event-search .tribe-events-c-events-bar__filter-button{
	padding-top: 14px;
    padding-bottom: 14px;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation */

@media only screen and (max-width:999px){
	header .menu-item-has-children > a:after{
		position: absolute;
		top: 21px;
		right: 0;
		content: "";
		width: 10px;
		height: 10px;
		border-right: 0.1em solid #ffffff;
		border-top: 0.1em solid #ffffff;
		transform: rotate(135deg);
		margin-right: 24px;
		float:right;
	}
	header .menu-item-has-children.focus > a:after {
		transform: rotate(-45deg);
		top:27px
	}
}

.current_page_item > a{
	/*background-color:#118653*/
}

@media screen and (min-width: 1000px){
	header .current_page_item > a:after, .post-type-archive-tribe_events #menu-item-76 > a:after{
		position: absolute;
		content: "";
		height: 3px;
		bottom: 22px;
		margin: 0 auto!important;
		left: 0;
		right: 0;
		width: 50%;
		width: calc(100% - 40px);
		background: #118653;
		display: block;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
		transition: .5s;
	}
}

#site-navigation{
	margin-top:30px
}

@media screen and (max-width: 999px){
	
	#menu-bnr{
		width:90%;
		max-width:640px;
		margin:0 auto
		}
	
	.main-navigation.toggled ul ul{
		opacity:0;
		visibility:0;
		max-height:0;
		position:relative;
		float:none;
		left:inherit;
		box-shadow: none !important;
		transition: all .25s;
	}
	
	.main-navigation.toggled .menu-mobile-container .menu-item.focus > ul{
		opacity:1;
		visibility:1;
		max-height:500px;
	}
	
	#site-navigation{
		display: inline-block;
		margin-top:18px;
		width:100%;
		position: absolute
	}
	
	#site-navigation .menu-top-menu-container, #site-navigation .menu-mobile-container{
		background-color:rgba(6,43,62,0.95);
		width:100vw;
		margin:0;
		margin-top:71px;
		position: fixed;
		overflow:scroll
	}
	
	.main-navigation .menu-top-menu-container, .main-navigation .menu-mobile-container{
		height:0;
		transition: all 0.25s;
		display: inherit
	}
	
	.main-navigation.toggled .menu-top-menu-container, .main-navigation.toggled .menu-mobile-container{
	    height:calc(100% - 119px);
		background-color:#43535b;
		display:block;
		position: fixed
	}
	
	#site-navigation button.menu-toggle, #site-navigation input[type="button"].menu-toggle, #site-navigation input[type="reset"].menu-toggle, #site-navigation input[type="submit"].menu-toggle{
		padding:0;
		position: absolute;
		right:20px;
		top:7px
	}
}

.main-navigation{
	width:fit-content !important
}

.main-navigation .menu-top-menu-container, .main-navigation .menu-mobile-container{
	opacity:1
}

.main-navigation.toggled .menu-top-menu-container, .main-navigation.toggled .menu-mobile-container{
	opacity:1;
	transition: all .25s
}

.main-navigation a, .main-navigation a:visited{
	color:#ffffff;
}

.main-navigation .menu-mobile-container{
	display:none
}

.main-navigation .menu-top-menu-container{
	display:block
}

@media screen and (max-width: 999px){
	
	.main-navigation .menu-mobile-container{
		display:block !important
	}
	
	.main-navigation .menu-top-menu-container{
		display:none !important
	}
	
	.main-navigation ul ul a{
		width:100% !important;
		color:#d1dbe3 !important
	}
	
	.main-navigation a{
		padding:0 20px
	}
	
	.sub-menu li a{
		font-size:20px
	}
	
	.main-navigation{
		width:100% !important
	}
	
	.main-navigation a{
		font-size: 26px;
		font-family: 'Delivery Regular', Arial, Helvetica sans-serif;
	}
	
	#site-navigation .menu{	
		text-align: center;
		width:100%
	}
	
	#site-navigation .menu > li a{	
		padding:16px 0;
	}
	
	#site-navigation .menu li > ul > li a{	
		padding:14px 0;
	}
	
	#site-navigation .menu > li a:hover{	
		background-color:#118653
	}
	
	#site-navigation .menu > li:last-child a, #site-navigation .menu > li:last-child a:hover{	
		background-color:inherit;
		padding:0;
		margin-top:20px
	}
	
	#site-navigation .menu > li > a{	
		font-size:20px;
		text-transform:uppercase;
		letter-spacing: 0.05em;
		font-family: 'Delivery', Arial, Helvetica sans-serif;
		z-index:99999999999;
		position: relative
	}
	
	#site-navigation .menu > li:last-child{	
		/*padding:15px 0 60px*/
	}
	
	#searchform input[type="text"].search-field{
		width:100%;
		padding:10px 56px 10px 20px;
		margin-top:2px;
		border-radius:0 !important
	}
	
	#mobile-menu #searchform button.search-bu{
		width:50px;
		position: absolute;
		right: 0;
		top: 1px;
		height:46px;
		padding:9px 20px 7px 8px !important;
		background-color:transparent !important;
		border:0 !important;
		cursor:pointer
	}
}

@media screen and (max-width: 500px){
	
	#site-navigation .menu-top-menu-container, #site-navigation .menu-mobile-container{
		margin-top:43px
	}
	
	.main-navigation.toggled .menu-top-menu-container, .main-navigation.toggled .menu-mobile-container {
		height:calc(100% - 92px)
	}
	
	#site-navigation{	
		margin-top:9px
	}
	
	#site-navigation ul{	
		text-align: center !important
	}
}

@media screen and (min-width: 1000px){
	
	#primary-menu > .menu-item:after {
		background:transparent;
	}
	
	#primary-menu > .menu-item.current_page_item:after, #primary-menu > .menu-item:after{
		position: absolute;
		content: "";
		height: 3px;
		bottom: 22px;
		margin: 0 auto!important;
		left: 0;
		right: 0;
		width: 50%;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
		transition: .5s;
	}
	
	#primary-menu > .menu-item.current_page_item:hover:after, #primary-menu > .menu-item:hover:after{
		width: calc(100% - 40px);
		background: #118653;
		display: block;
	}
	
	.main-navigation ul ul{
		background-color:transparent;
		/*padding-top:26px;*/
		min-width:200px;
		box-shadow:rgb(0 0 0 / 10%) 0px 1px 2px 0px;
		border-radius:7px;
		border: 3px solid rgba(6,43,62,1);
		top:62px !important;
	}
	
	.main-navigation{
		margin: auto
	}
	
	.main-navigation ul {
		display: block !important
	}
	
	.main-navigation ul li{
		display: inline-block !important;
		opacity: 1;
		background-color:#013148;
	}
	
	.main-navigation ul li.menu-header-search{
		display:none !important;	
	}
	
	.main-navigation ul ul li{
		width:100%
	}
	
	.main-navigation ul li a{
		color:#ffffff;
		font-size:22px;
		/*text-transform: uppercase;*/
		font-family: 'Delivery Regular', Arial, Helvetica sans-serif;
		padding: 0 20px 30px;
		letter-spacing: 0.01em
	}
	
	.main-navigation > ul > li a:hover{
		color:#118653
	}
	
	.main-navigation ul ul li a:hover{
		background-color:#118653
	}
	
	.main-navigation ul ul li a{
		font-size:19px;
		padding: 10px 20px;
		width:100%;
		letter-spacing: 0.04em;
		line-height:1.5em;
	}
	
}

/* Options Right */

#options-rgt{
	float:right;
	width:auto;
	height:auto;
	margin:-71px 20px 0
}

#search-box{
	float:left;
	width: 42px;
	height: auto;
	padding: 10px 10px 7px;
	margin-top:2px;
	
}

#calendar-bu{
	float:left;
	width:auto;
	height:46px;
	margin-left:14px
}

#calendar-bu img{
	height:49px;
	padding:6px;
	width:auto
}

#join-bu{
	float:right;
	height:auto;
	width:auto;
	margin-left:26px
}

#join-bu button{
	border:3px solid #c5a363 !important;
	border-radius: 5px;
	color:#ffffff;
	font-size: 19px;
	text-transform: uppercase;
	font-family: 'Delivery', Arial, Helvetica sans-serif;
	padding: 12px 20px;
	letter-spacing: 0.03em;
	position:relative;
}

#join-bu button:hover{
	border-color:#c5a363;
	color:#c5a363
}

@media only screen and (max-width:1428px){
	#calendar-bu{
		display:none	
	}
}

@media only screen and (max-width:1292px){
	#join-bu{
		display:none	
	}
}

@media only screen and (max-width:999px){
	#search-box{
		display:none	
	}
}



/* Footer Menu */

.menu-footer-menu-container ul{
	padding-left:0; 
	margin-left:0; 
	overflow:auto
}

.menu-footer-menu-container > ul > li{
	display: block;
	float:left;
	vertical-align: top;
	width:33.33%;
	padding-bottom:80px
}

.menu-footer-menu-container > ul > li > a{
	color:#ffffff;
	text-decoration: none;
	font-family: 'Delivery', Arial, Helvetica sans-serif;
	line-height:1.9em;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size:18px
}

.menu-footer-menu-container > ul > li > ul li{
	list-style:none
}

.menu-footer-menu-container > ul > li > ul li a{
	color:#cfcfd0;
	text-decoration: none;
	font-family: 'Delivery Regular', Arial, Helvetica sans-serif;
	line-height:1.7em
}

#col-1{
	width:75%;
	float:left;
	display: block
}

#col-2{
	width:25%;
	float:left;
	display: block
}

@media only screen and (max-width:767px){
	#col-1{
		width:100%
	}
	
	#col-2{
		width:100%;
		text-align: center
	}
	
	.menu-footer-menu-container > ul > li{
		padding-bottom:30px
	}
}

@media only screen and (max-width:550px){
	.menu-footer-menu-container > ul > li{
		width:100%;
		text-align: center
	}
}

#tnse-logo{
	width:300px;
	padding:10px;
	margin-top:26px
}

/* Copyright Menu */

.menu-copyright-menu-container ul{
	padding-left:0;
	margin-left:10px
}

.menu-copyright-menu-container ul > li{
	display: inline-block;
	font-size:14px
}

.menu-copyright-menu-container ul li a{
	color:#ffffff;
	text-decoration: none;
	margin:0 5px
}

.site-info{
	width: 100%;
	display: block;
	overflow: auto;
	margin-top: -31px;
	float: left
}

.site-info div{
	color:#ffffff;
	font-family: 'Delivery Regular', Arial, Helvetica sans-serif;
	display: block;
	float:left;
	font-size:14px
}

#foot-advert{
	width:100%;
	float:left
}

@media only screen and (max-width:767px){
	.site-info{
		margin:auto;
		margin-top: 0px;
		padding-top:36px;
		text-align: center;
		float:none
	}
	
	.site-info div{
		float:none;
		display: inline-block
	}
}

/* Parallax */

.para{
  will-change: transform;
}

.parallax-container{
  width:100%;
  height: 1000px;
  background-color:#020202;
  display:block;
  position:relative;
  overflow:hidden;
}

.bg{
  background: url("/wp-content/themes/burt/images/parallax/bg-v3.jpg"), #020202;
  background-position: top center;
  width: 2560px;
  height: 901px;
  position: absolute;
  left:50%;
  margin-left:-1280px;
  margin-top:-80px;
  background-size: cover;
  display:block;
}
.frontrow{
  background: url("/wp-content/themes/burt/images/parallax/front-row.png");
  background-position: top center;
  background-size: cover;
  position: relative;
  display:block;
  width: 1937px;
  height: 531px;
  top:440px;
  left:50%;
  margin-left:-1012px;
  margin-top:-80px;
}

.backrow{
  background: url("/wp-content/themes/burt/images/parallax/back-row.png");
  background-position: top center;
  width: 1012px;
  height: 369px;
  top:510px;
  margin-top:-80px;
  left:50%;
  margin-left:-641px;
  background-size: cover;
  position: absolute;
  display:block;
}

.crowd{
  background: url("/wp-content/themes/burt/images/parallax/crowd-v3.png");
  background-position: bottom center;
  width: 2560px;
  height: 924px;
  top:780px;
  left:50%;
  margin-left:-1280px;
  background-size: cover;
  position: absolute;
  display:block
}

@media only screen and (min-height:980px){
  .crowd{
  top:660px
  }
}

@media only screen and (min-height:1100px){
  .crowd{
  top:690px
  }
}

#quote{
	margin: auto;
	width:100%;
	height:0;
	background-color:#020202;
}

#quote p:before{
	content:url('../burt/images/quotes.svg');
	width:160px;
	position: absolute;
	left: 50%;
	margin-left: -647px;
	margin-top: -21px;
	z-index: -9999;
	opacity:0.7;
}

#quote p{
	color:#ffffff;
	font-size:46px;
	text-align: center;
	margin:auto;
	max-width:1200px;
	padding:640px 20px 200px;
	font-family: 'Delivery Condensed Black', Arial, Helvetica sans-serif;
	z-index:999999;
}

#quote p span{
	font-family: 'Delivery Condensed Black', Arial, Helvetica sans-serif;
	font-size:20px;
}

#attractions{
	background-color:#000000;
	display: block;
	padding:140px 20px 100px;
	margin:auto;
	width:100%;
	text-align: center;
}

.attraction{
	height:400px;
	width:280px;
	display: inline-block;
	margin:60px;
	padding: 0px;
	background-color: grey;
	box-shadow: 0 0 0 20px #000,
	0 0 0 22px #c5a363,
	0 0 0 30px #000,
	0 0 0 42px #c5a363;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/