/* Custom Styles for Header */
.newsbar {
    background-color: #00A562;
    color: #ffffff;
    font-family: 'Open Sans', "Helvetica Neue", 'Arial', sans-serif;
    font-weight:bold;
    font-size: 15px;
    letter-spacing: 0.02em;
    /*line-height: 1.4em;*/
    position:relative;
    min-height:39px
}

@include media-breakpoint-down(md){
    .newsbar {
        font-size:14px
    }
}

@include media-breakpoint-down(sm) {
    .newsbar {
        font-size: 13px
    }
}

.newsbar a {
    color: #fff;
    margin-left:3px;
}

.newsbar p {
    padding: 0;
    margin: 0 !important
}

/* Navbar Custom Styles */
.home .navbar{
    background-color: transparent !important;
}

.navbar {
    background-color: #013148 !important;
    align-items: center;
    position: relative;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    border-bottom:0 !important
}

@media only screen and (max-width:1448px){
    .navbar{
        /*padding-left:1.5rem !important;
        padding-right:1.5rem !important*/
    }
}

.navbar-expand-lg ul li a {
    --bs-nav-link-color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif !important;
    letter-spacing: 0.01em;
    font-weight:bold
}

@media only screen and (min-width:1500px) and (max-width:1680px){
    .navbar-expand-lg ul li a{
        font-size:18px
    }
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding:0 20px
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index:9
}

@include media-breakpoint-down(lg){
    .navbar-expand-lg .navbar-collapse {
        z-index: 999999999999999 !important
    }
}

.navbar-expand-lg .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping */
}

@media only screen and (max-width:991px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: inherit;
        position: inherit;
        left: inherit;
        transform: inherit;
    }

    .navbar-expand-lg .container-fluid {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        flex-wrap: inherit
    }
}

.navbar-nav {
    width: auto;
    justify-content: center; /* Center horizontally */
}

.navbar-brand {
    margin-right: auto;
    flex-grow: 0; /* Prevent the brand from growing */
    color:#ffffff;
    margin-left:2px;
    padding-top:0;
    padding-bottom:0
}

.navbar-toggler {
    margin-left:20px;
    --bs-border-width:3px;
    --bs-navbar-toggler-border-color: #c5a463;
    background-color: rgba(1, 49, 72, 0.50) !important
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; /* Change to desired color */
}

div#search-box::marker{
    color:transparent !important
}

/* Set the initial order using CSS media query */
@media (max-width: 991.98px) {
    #options-rgt {
        order: 1;
    }

    .navbar-toggler {
        order: 2;
    }

    .navbar-collapse{
        order: 3;
    }
}

.news-txt{
    text-align: center
}

#searchform {
    display: none !important
}

.search .search-form #searchform {
    display: flex !important
}

.dropdown-toggle::after{
    display:none
}

.navbar-brand img{
    height: 60px
}

@include media-breakpoint-down(sm){
    .navbar-brand img{
        height: 46px
    }
}

@media only screen and (min-width: 1500px) {
    .navbar-brand img{
        margin-top:-6px
    }
}

.navbar-brand.d-none{
    display:flex !important
}

#options-rgt{
    display:flex;
    height: auto;
    position: relative;
    min-height:56px
}

@media only screen and (max-width:1426px){
    #calendar-bu{
        display:none
    }
}

@media only screen and (max-width:1306px){
    #join-bu{
        display: none
    }

    #calendar-bu{
        display:block
    }
}

#search-box {
    float: left;
    width: 42px;
    height: auto;
    padding: 11px 10px 7px;
    display: list-item;
    margin-top:2px
}

.nav-link:hover, .nav-link:focus{
    color:#ffffff
}

@include media-breakpoint-up(lg) {
    #menu-top-menu > .menu-item:after{
        background: transparent
    }
    
    #menu-top-menu > .menu-item.current_page_item:after, #menu-top-menu > .menu-item:after{
        position: absolute;
        content: "";
        height: 3px;
        bottom: -5px;
        margin: 0 auto !important;
        left: 0;
        right: 0
    }

    #menu-top-menu > .menu-item:after {
        content: '';
        position: relative;
        bottom: -8px; /* Adjust this value to achieve the desired spacing */
        width: calc(100% - 40px);
        height: 4px; /* Height of the border */
        background: repeating-linear-gradient(
            90deg,
            transparent,
            transparent 4px,
            transparent 4px,
            transparent 8px
        );
        display: block
    }

   #menu-top-menu>.menu-item.current_page_item:after,
   #menu-top-menu>.menu-item.current_page_ancestor:after,
   #menu-top-menu>.menu-item:hover:after {
        content: '';
        position: relative;
        bottom: -6px; /* Adjust this value to achieve the desired spacing */
        width: calc(100% - 40px);
        height: 4px; /* Height of the border */
        background: repeating-linear-gradient(
            90deg,
            #00A562,
            #00A562 4px,
            transparent 4px,
            transparent 8px
        );
        display: block
   }
   
}

@media only screen and (max-width:991px) {
    #menu-top-menu>.menu-item:after {
        background: inherit
    }

    #menu-top-menu>.menu-item.current_page_item:after,
    #menu-top-menu>.menu-item:after {
        position: inherit;
        content: inherit !important;
        height: inherit;
        bottom: inherit;
        margin: inherit !important;
        left: inherit;
        right: inherit
    }

    #menu-top-menu>.menu-item.current_page_item:hover:after,
    #menu-top-menu>.menu-item:hover:after {
        width: inherit;
        background: inherit;
        display: inherit
    }

  /* Parent li element should be positioned relatively */
  #menu-top-menu .nav-item {
      position: relative;
  }

  /* Default arrow */
  #menu-top-menu .nav-link.dropdown-toggle::after {
      display: inline-block;
      position: absolute;
      right: 20px;
      /* Adjust this value as needed */
      top: 25px;
      transform: translateY(-50%);
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
  }

  /* Arrow when dropdown is open */
  #menu-top-menu .nav-item.dropdown .nav-link.dropdown-toggle.show::after {
      border-top: 0;
      border-right: 0.3em solid transparent;
      border-bottom: 0.3em solid;
      border-left: 0.3em solid transparent;
  }

  .dropdown-menu {
      padding-top:0;
      margin-bottom:12px;
      margin-top:0 !important;
      border:0

  }

}

@include media-breakpoint-down(lg) {
    #clc-link, .social{
        display:none !important
    }
}

.navbar-expand-lg {
    --bs-navbar-active-color: rgba(255,255,255,0.9)
}

@include media-breakpoint-down(lg) {
    #clc-link, .social{
        display:none !important
    }
    .dropdown-menu{
    --bs-dropdown-bg: transparent !important
    }
}

.dropdown-menu{
    --bs-dropdown-bg: rgba(1, 49, 72, 0.9);
    z-index:2
}

.dropdown-menu li a{
    font-size:16px !important
}

.dropdown-item{
    --bs-dropdown-link-color:#ffffff;
    font-family: 'Delivery', Arial, Helvetica sans-serif !important;
    --bs-dropdown-item-padding-x:1.2rem
}

.dropdown-menu[data-bs-popper]{
    --bs-dropdown-spacer:0.25rem
}

.dropdown-item:hover, .dropdown-item:focus{
    --bs-dropdown-link-hover-bg: #00A562;
    --bs-dropdown-link-hover-color: #ffffff
}

// Add styling for custom fields
.wide-input input {
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
}

.offcanvas-backdrop.show{
    opacity:0 !important
}

@media only screen and (max-width:991px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding:8px 20px
    }

    #menu-top-menu > .menu-item{
        border-bottom:3px dotted #00A562
    }

    #menu-top-menu > .menu-item:first-child{
        border-top:3px dotted #00A562
    }

    .dropdown-menu li a{
        /*border-bottom: 3px dotted #00A562;*/
        /*padding-top:10px;
        padding-bottom:10px;*/
        margin:0 20px;
        width:calc(100% - 40px)
    }

    .dropdown-menu li:last-child a{
        border-bottom: 0 !important
    }
}

.navbar-toggler:focus{
    --bs-navbar-toggler-border-color: #00A562
}

.modal.show .modal-dialog{
    z-index:9999999999999999 !important
}

.modal-content {
    background-color: transparent;
    border: none;
    margin-top:-10%
}

.modal-header{
    display: block !important
}

.modal-header h1{
    color:#ffffff !important;
    font-family: 'Delivery', Arial, Helvetica sans-serif;
    text-align: center;
    font-size:3rem;
    letter-spacing:0.005em
}

.modal-header h1 span {
    color: #ffffff
}

.modal-header,
.modal-footer {
    border: none;
}

@include media-breakpoint-down(md){
    .modal-body, .modal-header,
    .modal-footer{
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top:0;
    margin-bottom:0
}

@include media-breakpoint-down(sm){
    .modal-dialog-centered {
        min-height: 98vh
    }
}

.close-button {
    position: fixed;
    top: -6px;
    right: 16px;
    z-index: 1051;
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 2.9rem;
    display: none;
    z-index: 99999999999999999 !important
}

.modal.show .close-button {
    display: block
}

#searchInput{
    margin-right:10px;
    font-family: var(--tec-font-family-sans-serif)
}

#searchIcon{
    cursor: pointer
}

.form-control{
    font-size:1.5rem;
    width:100%;
    display: flex;
    margin-right:1rem !important;
}

.search #searchform{
    display: flex
}

.search #searchform button{
    width:calc(22% - 1rem)!important;
    background-color: #ffffff !important;
        color: #013148 !important;
        border: 3px solid #013148 !important;
        font-size: 16px !important;
        line-height: 1em !important;
        border-radius: 50px !important;
        padding:12px 25px !important;
        font-weight: bold
}

@include media-breakpoint-down(md) {
    .modal-header h1 {
        font-size: 2.25rem
    }

    .modal .btn-primary{
        width:100%
    }
}
@include media-breakpoint-down(sm) {
    .modal-header h1 {
        font-size:2rem
    }

    .form-control{
        font-size:1.25rem
    }

    .form-group{
        display: block !important
    }

    .btn-primary{
        width:100%
    }
}

@media only screen and (max-width:525px){
    .modal-header h1 {
        font-size: 1.75rem
    }
}

@media only screen and (max-width:480px) {
    .modal-header h1 {
        font-size: 1.6rem
    }
}

@media only screen and (max-width:460px) {
    .modal-header h1 {
        font-size: 1.4rem
    }
}

@media only screen and (max-width:400px) {
    .modal-header h1 {
        font-size: 1.2rem
    }
}

.btn-primary{
    font-family: var(--tec-font-family-sans-serif);
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #00A562;
    border-radius:50px;
    font-size: 16px;
    line-height: 1em;
    padding: 11px 20px
}

.btn-primary:hover {
    background-color: #00A562;
    border-color:#00A562
}

.modal.show {
    background-color: rgba(1, 49, 72, 0.9)
}

/* Override the default modal width */
.modal-dialog {
    --bs-modal-width: 50%;
    min-width:345px;
    max-width:680px
}