// WordPress Theme Custom Styles
#post-header-cnt{
    position: relative;
    /*margin-bottom: 50px;*/
    z-index:-1
}

.single-tribe_events #post-header-cnt {
    margin-bottom: 1.5rem !important
}

@include media-breakpoint-up(sm){
    .single-tribe_events #post-header-cnt {
        margin-bottom: 0 !important;
    }
}

#post-title{
    width: 100%;
    height: auto;
    margin: -4px auto 5px;
    max-width: 1350px;
    position: absolute;
    left: 50%;
    top: 50%;
    /*margin-left:-1.5%;*/
    transform: translate(-50%, -50%);
}

/* The Venue */
.page-id-9 #post-title img {
   /*margin-left: -8px;*/
}

/* Guest Services */
.page-id-32 #post-title img, .parent-pageid-32 #post-title img {
    margin-left: -8px
}

@include media-breakpoint-down(lg){
    .page-id-32 #post-title img, .parent-pageid-32 #post-title img {
        margin-left: -9px
    }
}

@include media-breakpoint-down(md){
    .page-id-32 #post-title img, .parent-pageid-32 #post-title img {
        margin-left: -4px
    }
}

@include media-breakpoint-down(sm) {
    .page-id-32 #post-title img, .parent-pageid-32 #post-title img {
        margin-left: -2px
    }
}

/* Plan Your Experience */
.page-id-24 #post-title img {
    margin-left: -15px
}
// TICKET MASTER LOUNGE 
.the-ticketmaster-lounge .wp-container-core-columns-is-layout-1 {
    position: relative;
    margin:auto;
    margin-bottom: 0;
    padding: 100px 0;
}

@include media-breakpoint-up(lg){
    .intro-text {
        width:100%;
        max-width:1350px;
    }
}

.the-ticketmaster-lounge .slick-slide img {
    width: 100%;
}
.the-ticketmaster-lounge .wp-block-cb-carousel.cb-single-slide.slick-initialized.slick-slider.slick-dotted {
    width: 67%;
    max-width:1270px;
    margin: auto;
    position: relative;
    top: -130px;
    padding-bottom: 20px;

}
.the-ticketmaster-lounge .slick-prev::before {
    content: '\f053' !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 25px;
    color: #FFF !important;
    opacity: 1;
}
.the-ticketmaster-lounge .slick-next::before {
    content: '\f054' !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 25px;
    color: #FFF !important;
    opacity: 1;
}
.the-ticketmaster-lounge .wp-block-cb-carousel .slick-next:before, .the-ticketmaster-lounge .wp-block-cb-carousel .slick-prev:before {
    color: #FFF;
}
.the-ticketmaster-lounge .slick-dots li button:before {
    color: #FFF !important;
    font-size: 12px !important;
}

.the-ticketmaster-lounge #post-header-cnt {
    /*height: 400px;
    margin-bottom: 0px !important;
    // background-position: center;
    background-size: cover;
    background-position: right 65%;
    display: flex;
    flex-direction: column-reverse;*/
}
.the-ticketmaster-lounge #post-header-cnt::before {
    /*content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 0 !important;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);*/
}
.the-ticketmaster-lounge .brdr{
    z-index: 1;
}
.the-ticketmaster-lounge #post-title img {
    width: 53vw;
}

/*.the-ticketmaster-lounge #post-title{
    max-width: 100% !important;
    padding: 0 240px !important;
}*/

.the-ticketmaster-lounge p{
    font-size: 22px;
    font-family: 'Delivery Regular';
}
.the-ticketmaster-lounge h3.fade-in-transform, .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1 h3 {
    font-family: "alkaline", sans-serif !important;
    font-size: 2.5rem;
    color: #11a562;
    margin-bottom: 0 !important;
}
.the-ticketmaster-lounge h2.pt-2.fade-in-transform, .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1 h2 {
    text-transform: uppercase;
}
.the-ticketmaster-lounge h4 {
    font-family: 'alkaline';
    margin-bottom: 0;
}
.the-ticketmaster-lounge p strong a {
    font-weight: 900 !important;
    font-family: 'Delivery';
}
.the-ticketmaster-lounge .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-3.wp-block-columns-is-layout-flex {
    padding: 0px 30rem 20px;
    margin: auto;
}
.the-ticketmaster-lounge .book-now a {
    color: #ffffff;
    background: #00A562 !important;
    border-color: #00A562 !important;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 10px 3.5rem 12px;
    font-weight: bold;
}
.the-ticketmaster-lounge .book-now a:hover {
    border: solid 3px #00A562;
    background: transparent !important;
    color: #00a562 !important;
}
.the-ticketmaster-lounge .background-brick .row, .background-beige{
    justify-content: center;
}
.beige-cont{
    max-width:1280px;
    margin:auto;
}

.the-ticketmaster-lounge .right-cont, .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img{
    position: absolute;
    right: 0;
}

.the-ticketmaster-lounge .background-wood .row:last-of-type {
    display: block;
    margin: auto;
    width: 800px;
    text-align: center;
}
.the-ticketmaster-lounge .background-brick .left-cont {
    margin-top: 80px;
}
.the-ticketmaster-lounge .background-brick {
    padding-bottom: 0;
}
.background-brick{
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/02/13155233/brick-background.jpg);
    background-attachment: fixed;
}
.the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img{
    width: 870px !important;
    top: 50px;
}
.background-beige {
    background: rgba(246, 238, 224, 1);
    padding-top: 170px;
    padding-bottom: 170px;
}
.the-ticketmaster-lounge .background-wood h3 {
    font-family: 'alkaline';
    font-size: 65px;
    line-height: 70px;
    color: #FFF;
}
.the-ticketmaster-lounge .background-wood, .background-beige, .background-brick{
    margin-bottom: 0 !important;
}
.the-ticketmaster-lounge .background-wood p{
    color: #00A562;
    font-size: 25px !important;
    padding-top:20px;
}
.the-ticketmaster-lounge .background-wood p a{
    font-family: 'Delivery';
}
.the-ticketmaster-lounge .background-wood {
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/02/13154309/wood-background.jpg);
    background-attachment: fixed;
    padding: 0px 0 70px;
}

/* BURT BLOC PARTY */
#main-banner .wp-block-image {
    width: 500px;
    margin: auto;
}
.burt-block-party h3.wp-block-heading {
    color: #00a562;
    font-weight: 900;
    margin-bottom: 0;
}
@supports (-webkit-appearance: none) {
    .burt-block-party details {
        display: block;
    }
}
.burt-block-party #faq details summary {
    display: block;
}
.burt-block-party details.wp-block-details.bi.float-right.bi-chevron-up.is-layout-flow.wp-block-details-is-layout-flow{
    padding: 15px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #d1d1d1;
    display: inline-block;
    width: 100%;
    background: #003147 !important;
    color: #FFF !important;
    transition: transform 0.3s;
}
.burt-block-party details.wp-block-details.bi.float-right.bi-chevron-up.is-layout-flow.wp-block-details-is-layout-flow[open]{
    padding: 15px 20px 15px 22px !important;
}
.burt-block-party details p {
    background: #003147 !important;
    color: #ffffffd6;
}
.burt-block-party #faq .wp-block-details summary{
    width: 98%;
}
.burt-block-party .wp-block-details summary::marker {
    content: '';
}
.burt-block-party .bi-chevron-up::before {
    content: "" !important;
    transform: rotate(180deg) !important;
    float: right !important;
}
.burt-block-party summary::-webkit-details-marker{
    display: none;
}
.burt-block-party [open].bi-chevron-up::before {
    transform: rotate(0deg) !important;
}
.burt-block-party details.wp-block-details.bi.float-right.bi-chevron-up.is-layout-flow.wp-block-details-is-layout-flow p:first-of-type {
    margin-top: 15px;
}
.burt-block-party #main-banner{
    align-items: center;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    // background: url('http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/03162627/BBPbanner-2025-v1-scaled.jpg') !important;
    background-size: cover !important;
    background-position: bottom !important;
    background-repeat: no-repeat !important;
    height: 78vh;
    max-width: 100%;
    position: relative;
    text-align: center;
}

.burt-block-party #main-banner .wp-block-image {
    width: 350px;
    margin: auto;
}

.burt-block-party div#post-header-cnt {
    display: none !important;
    opacity: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}
.burt-block-party #main-banner h3 {
    font-family: roc-grotesk, sans-serif;
    font-size: 1.6rem !important;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    color: #FFF;
}
.burt-block-party #main-banner h4 {
    color: #FFF;
    font-family: roc-grotesk, sans-serif;
        font-size: 2rem;
}
.burt-block-party #main-banner a {
    background: #00A562 !important;
    border: 3px solid #00A562 !important;
    color: #FFF !important;
}
.burt-block-party #main-banner a:hover {
    background: transparent !important;
    border: 3px solid #00A562 !important;
    color: #FFF !important;
}

.burt-block-party #intro img {
    right: -48px;
    position: relative;
}
.burt-block-party #intro  .side-img {
    position: absolute;
    right: 0;
}

#intro h2 {
    font-family: roc-grotesk, sans-serif !important;
    font-weight: 800;
    text-transform: uppercase;
}
#intro p{
    color: #093148 !important;
}
#intro {
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/04130733/BBP2025-background-Horizontal.jpg);
    position: relative;
}
#intro .row {
    margin: 50px 0;
}
#intro::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/04130927/swirl-dots-2025v2.png);
    top: 0;
    bottom: 0;
    background-size: cover;
    left: 0;
    right: 0;
}

#intro #content{
    position: relative;
    z-index: 2;
}
#intro #content::before {
    position: absolute;
    content: '';
    width: 120%;
    height: 100%;
    background: rgb(217, 217, 217);
    background: -moz-radial-gradient(circle, rgba(217, 217, 217, 1) 32%, rgba(217, 217, 217, 0) 59%);
    background: -webkit-radial-gradient(circle, rgba(217, 217, 217, 1) 32%, rgba(217, 217, 217, 0) 100%);
    background: radial-gradient(circle, rgba(217, 217, 217, 1) 32%, rgba(217, 217, 217, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9d9d9",endColorstr="#d9d9d9",GradientType=1);
    z-index: -1;
    left: -150px;
}
#intro::after {
    content: '';
    position: absolute;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/04132745/DL-202-2.png);
    width: 250px;
    height: 150px;
    left: 0;
    bottom: 0;
}
.burt-block-party #intro {
    overflow-x: hidden;
}
.burt-block-party .tribe-common-g-row.tribe-events-calendar-list__event-row.tribe-events-calendar-list__event-row--featured {
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
    margin-bottom: 70px;
}
.burt-block-party #lineup article.tribe-events-calendar-list__event.tribe-common-g-row.tribe-common-g-row--gutters {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
}
.burt-block-party .tribe-events-calendar-list__event-date-tag.tribe-common-g-col {
    width: 7%;
}
time.tribe-events-calendar-list__event-date-tag-datetime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burt-block-party .tribe-events-calendar-list__event-wrapper.tribe-common-g-col {
    width: 93%;
}
.burt-block-party .burt-block-party #lineup article.tribe-events-calendar-list__event.tribe-common-g-row.tribe-common-g-row--gutters {
    display: flex;
    flex-direction: row-reverse;
}
.burt-block-party .tribe-events-calendar-list__event-details.tribe-common-g-col {
    width: 68%;
    padding-right: 50px;
    border-left: solid 3px #FFF;
    padding-left: 25px;
}
.burt-block-party .tribe-events-calendar-list__event-featured-image-wrapper {
    max-width: 30% !important;
    justify-content: center;
}
#lineup span.tribe-events-calendar-list__event-date-tag-weekday {
    font-size: 1.5rem !important;
    text-transform: uppercase;
}
#lineup  span.tribe-events-calendar-list__event-date-tag-daynum.tribe-common-h5.tribe-common-h4--min-medium {
    font-weight: 900;
}
#lineup {
    background: #093148;
    overflow-x: hidden !important;
}
#lineup h2 {
    color: #FFF;
    font-family: roc-grotesk, sans-serif !important;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 60px;
}
#lineup .col-xs-12.col-sm-12.col-md-12.col-lg-12.upc-custom.fade-in-transform {
    padding: 0px 25px;
}
#lineup h3.tribe-events-calendar-list__event-title.tribe-common-h6.tribe-common-h4--min-medium a {
    color: #FFF;
    font-family: roc-grotesk, sans-serif !important;
}
#lineup .photo-bu a:before {
    color: #FFF;
}
#lineup .photo-bu button, #lineup .photo-bu a {
    color: #FFF !important;
    border: 3px solid #FFF !important;
    background: transparent !important;
}
#VIP-tickets {
    background: #BA742F !important;
    color: #FFF !important;
    padding: 0px 0;
    overflow-x: hidden !important;
}
#VIP-tickets h2 {
    font-family: roc-grotesk, sans-serif !important;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFF;
}
#VIP-tickets #content {
    display: flex;
    align-items: center;
}
#VIP-tickets .side-img {
    position: relative;
    left: 0;
    float: left;
    padding: 0 !important;
    top: 0;
}
// #VIP-tickets img[alt="Featured Image"] {
//     position: absolute;
//     left: -230px;
//     float: left;
//     top: -50px;
// }

.burt-block-party #intro .side-img {
    top: 110px;
}
#VIP-tickets #background-img {
    // position: relative;
    left: -300px;
    background-repeat: no-repeat;

    transform: translate3d(0px, 0px, 0px);
    will-change: transform;
    transition: transform 0.1s ease-out;

    background-size: cover;
    background-position: bottom center;
    width: 100%;
    min-height: 100%; /* Ensures it matches the container */
    position: absolute; /* Allows for positioning */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#VIP-tickets .side-img {
    position: relative;
    overflow: hidden; /* Ensures the parallax doesn’t overflow */
    left: -240px;
}
#VIP-tickets #content {
    display: flex;
    align-items: center;
    padding: 75px 48px 75px 0px !important;
    left: -50px;
    position: relative;
}
.burt-block-party h2 {
    font-family: roc-grotesk, sans-serif !important;
    font-weight: 900;
    text-transform: uppercase;
}
#faq {
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/05104919/BBP2025-background-Vertical.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
#faq #content {
    margin: 80px 0;
}
#faq h2{
    color: #9B46A0 !important;
}
#faq{
    position: relative;
    overflow-x: hidden !important;
}
#faq:before {
    content: '';
    position: absolute;
    background: url('http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/05105442/circles.png');
    width: 10rem;
    height: 25rem;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 45px;
}
#vendor-open{
   margin: 0 !important;
   padding: 0 !important;
 }
 #vendor-open h2 {
    color: #FFF !important;
 }
#vendor-open .wp-block-columns.is-layout-flex.wp-block-columns-is-layout-flex {
  gap: 0;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
#vendor-open a {
    color: #FFF;
    border-color: #00a562 !important;
    background: #00a562 !important;
    padding: 11px 90px 13px !important;
}
#vendor-open a:hover{
    background: #FFF !important;
    color:#00A562 !important;
    border-color: #FFF !important;
}
#vendor-open span.wp-block-cover__background.has-background-dim {
    background: #000000bf !important;
}
#vendor-open .wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex {
    margin: 0 !important;
}
#vendor-open .wp-block-cover.has-parallax {
    min-height: 500px !important;
}
#vendor-closed {
    background: #914141;
    color: #FFF;
    position: relative;
    overflow-x: hidden !important;

}
#vendor-closed #content {
    margin: 100px 0;
}
.wp-block-column:first-child .wp-block-cover__image-background {
    background-position: center !important;
    background-size: 100% auto;
}
.wp-block-column:last-child .wp-block-cover__image-background {
    background-position: 100% center !important;
    background-size: 100% auto;
}
#vendor-closed h2 {
    color: #FFF;
}
#vendor-closed .fade-in-transform {
    z-index: 1;
    position: relative;
}
#vendor-closed::before {
    content: '';
    position: absolute;
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/05135501/swirl-dotsorange-2025.png);
    background-size: cover;
    // background-attachment: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: center;
    z-index: 0;
}
#sponsors{
    overflow-x: hidden !important;
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/05104919/BBP2025-background-Vertical.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#sponsors #content{
    padding: 50px;
    margin: 100px;
    background-color: #FFF !important;
}
#sponsors .wp-block-image a:hover {
    opacity: 0.8;
}
#sponsors:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 300px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background: url(http://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/06114102/circleorange.png);
    right: 0px;
    top: 50px;
}
/* What's On At The Burt */
.archive #post-title img {
    /*margin-left: -1%;*/
}

#post-title img {
    max-width: 100%;
    width: 39vw;
    padding: 0;
    min-width: 836px
}

.post-thumbnail{
    text-align: center;
    background-color: #08131f
}

.post-thumbnail img {
    max-width: 100%;
    width:100%
}
@media only screen and (max-width:2300px) {
    #VIP-tickets .side-img {
        position: relative;
        overflow: hidden;
        left: -426px;
        width: 1000px;
    }

}
@media only screen and (max-width:1920px) {

#VIP-tickets .side-img {
    position: relative;
    overflow: hidden;
    left: -240px !important;
    width: 60% !important;
}
#VIP-tickets .side-img {
    position: relative;
    left: 0;
    float: left;
    padding: 0 !important;
    top: 0;
}
    #VIP-tickets #background-img {
        left: -300px;
        background-repeat: no-repeat;
        transform: translate3d(0px, 0px, 0px);
        will-change: transform;
        transition: transform 0.1s ease-out;
        background-size: cover;
        background-position: bottom center;
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width:1800px) {
    #post-title img  {
        width: 38vw 
    }
    .the-ticketmaster-lounge #post-title img {
        width: 39vw !important
    }
}
@media only screen and (max-width:1800px) {
    .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img{
        width: 800px !important;
    }
    .the-ticketmaster-lounge p{
        font-size: 18px !important;
    }
    #faq .row {
        margin: 0 10rem !important;
    }
    #faq:before {
        width: 7rem !important;
        height: 20rem !important;
        left: 35px !important;
    }
      // Block Party
      #intro #content {
        padding-right: 0 !important;
    }
    #VIP-tickets .side-img{
        // left: -120px;
        left: -180px;
    }
 
    #VIP-tickets #background-img {
        // left: -180px;
        // left: -110px;
        left: 0px;
    }

}
@media only screen and (max-width:1520px) {
    /*.the-ticketmaster-lounge #post-title{
        padding: 0 150px !important;
    }*/
    .the-ticketmaster-lounge #post-header-cnt {
        /*height: 320px;*/
    } 
    #post-title img {
        width: 55vw;
        min-width: inherit
    }
    .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1 {
        
    }
    .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img {
        width: 700px !important;
    }
    .the-ticketmaster-lounge .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-3.wp-block-columns-is-layout-flex {
        padding: 0px 20rem 20px;
    }
    .the-ticketmaster-lounge .background-beige {
        padding-top: 140px;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .the-ticketmaster-lounge .book-now a {
        padding: 8px 3.5rem 10px;
        font-size: 17px;
    }
    // Block Party
       .burt-block-party #intro .side-img {
        bottom: 0;
        top: 0px;
        display: flex;
        align-items: center;
    }
    .burt-block-party #vendor-open .wp-block-column:last-child .wp-block-cover__image-background {
        background-position: 100% center !important;
        background-size: 90% auto !important;
    }
}

@media only screen and (max-width:1446px) {
    /*.the-ticketmaster-lounge #post-title{
        padding: 0 100px !important;
    }*/
    #post-title {
        max-width: inherit;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 0 !important
    }
    .the-ticketmaster-lounge #post-header-cnt {
        /*height: 300px !important;*/
    }    

    .archive #post-title img {
        margin-left: 0 !important
    }
    .the-ticketmaster-lounge .background-beige {
            padding-top: 90px;
            padding-left: 3rem;
            padding-right: 3rem;
    }
    .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img {
        width: 630px !important;
    }
    .burt-block-party #vendor-open .wp-block-cover.has-parallax {
        min-height: 350px !important;
    }
    .burt-block-party #sponsors .size-medium img {
        width: 100% !important;
        min-width: 100%;
        height: auto !important;
    }
    #VIP-tickets .side-img {
        left: -80px;
    }
    #VIP-tickets #background-img {
        top: 10px;
    }
}
@media only screen and (max-width:1399px) {
    .burt-block-party #intro .side-img {
        position: relative;
    }
    .burt-block-party #intro .side-img {
        bottom: 0;
        top: 0px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-top: 0 !important;
        z-index: 1;
    }
    .burt-block-party #intro img {
        right: 0px;
        width: 800px !important;
    }
    #intro #content {
        padding-right: 48px !important;
        padding-top: 20px !important;
    }
    .burt-block-party #intro .row{
        position: relative;
    }
    .burt-block-party #intro .row::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 100%;
        background: #d9d9d9;
        background: -moz-radial-gradient(circle, #d9d9d9 32%, rgba(217, 217, 217, 0) 59%);
        background: -webkit-radial-gradient(circle, #d9d9d9 32%, rgba(217, 217, 217, 0) 100%);
        background: radial-gradient(circle, #d9d9d9 52%, rgba(217, 217, 217, 0) 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9d9d9",endColorstr="#d9d9d9",GradientType=1);
        z-index: 0;
        left: -150px;
        top: -50px;
    }
    #intro #content::before {
        opacity: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .burt-block-party #vendor-open .wp-block-cover.has-parallax {
        min-height: 300px !important;
    }
}
@media only screen and (max-width:1300px) {
    /*.the-ticketmaster-lounge #post-title{
       padding: 0 80px !important;
    }*/
    .the-ticketmaster-lounge .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-3.wp-block-columns-is-layout-flex {
        padding: 0px 5rem 20px;
        width: 80%;
    }
    .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img {
        width: 630px !important;
    }
    .the-ticketmaster-lounge h2 {
        font-size: 30px;
    }
        .the-ticketmaster-lounge .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-3.wp-block-columns-is-layout-flex {
        padding: 0px 8rem 20px;
        width: 80%;
    }
    .the-ticketmaster-lounge .intro h3 {
        font-size: 2rem !important;
    }
    .the-ticketmaster-lounge .book-now a {
        font-size: 17px !important;
        padding: 7px 3.5rem 9px !important;
    }
    .the-ticketmaster-lounge h4, .the-ticketmaster-lounge .h4 {
        font-size: 22px !important;
    }
    .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1 {
        
    }
    .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img {
        width: 570px !important;
    }
    .the-ticketmaster-lounge .background-brick .row, .background-beige {
        padding: 90px 80px 160px;
    }
    .the-ticketmaster-lounge .background-wood h3, .the-ticketmaster-lounge .background-wood .h3 {
        font-size: 55px;
    }
    // Block Party
    .burt-block-party #vendor-open .wp-block-column:last-child .wp-block-cover__image-background {
        background-size: 65% auto !important;
    }
    #VIP-tickets #content {
        padding: 70px 48px 40px 0px !important;
    }
    #VIP-tickets #background-img {
        top: 22px;
    }
    #VIP-tickets .side-img {
        left: -150px !important;
    }
  

 
}
@media only screen and (max-width:1100px) {
    #post-title img {
        width: 58vw
    }
    .the-ticketmaster-lounge .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-3.wp-block-columns-is-layout-flex {
        width: 90%;
    }
    .the-ticketmaster-lounge .wp-block-cb-carousel.cb-single-slide.slick-initialized.slick-slider.slick-dotted {
        width: 85%;
    }
    .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img {
        width: 510px !important;
        top: 80px !important;
    }
    .the-ticketmaster-lounge #post-header-cnt {
        /*height: 200px !important;*/
    }
    #vendor-closed .fade-in-transform{
        padding: 0 50px !important;
    }
    #sponsors #content {
        margin: 60px 60px;
    }
    #sponsors:after {
        width: 130px !important;
    }
    #sponsors .wp-block-columns .wp-block-image img {
        height: auto !important;
    }
    #sponsors .wp-block-image {
        margin: 0 !important;
    }
    #sponsors .size-full img {
        max-height: 220px !important;
    }
    #VIP-tickets h2, #VIP-tickets .h2 {
        font-size: 35px !important;
    }
    .burt-block-party #vendor-open .wp-block-column:first-child .wp-block-cover__image-background, .burt-block-party #vendor-open .wp-block-column:last-child .wp-block-cover__image-background {
        background-attachment: scroll !important;
        background-position: center !important;
        background-size: cover !important;
    }
    #intro .row {
        margin: 50px 0 0;
    }
}
@media only screen and (max-width:1050px) {
    .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img {
        width: 450px !important;
        top: 90px !important;
    }
    .the-ticketmaster-lounge h2, .the-ticketmaster-lounge .h2 {
        font-size: 27px !important;
        margin: 0 0 10px !important;
    }
    .burt-block-party #faq .row {
        margin: 0 5rem !important;
    }
    .burt-block-party #faq:before {
        width: 5rem !important;
        height: 14rem !important;
        left: 15px !important;
    }
    .burt-block-party #vendor-open .wp-block-cover.has-parallax {
        min-height: 270px !important;
    }
    .burt-block-party #vendor-open h2, #vendor-open .h2 {
        color: #FFF !important;
        font-size: 32px !important;
        margin-bottom: 10px;
    }
    .burt-block-party #vendor-open a {
        color: #FFF;
        border-color: #00a562 !important;
        background: #00a562 !important;
        padding: 9px 50px 11px !important;
        font-size: 17px;
    }

 
}
@media only screen and (max-width:991px) {
    .burt-block-party #main-banner {
        background-attachment: scroll !important;
    }
    #VIP-tickets #background-img {
        left: 0;
        background-position: bottom !important;
        height: 350px !important;
    }
    #VIP-tickets #content {
        padding: 60px 130px 40px !important;
        left: 0;
    }
    #sponsors:after {
        width: 100px !important;
    }
    #VIP-tickets .container {
        flex-direction: column-reverse;
        display: flex;
    }
    #VIP-tickets .side-img {
        left: 0px !important;
        width: 100% !important;
    }
    #VIP-tickets #background-img {
        left: 0 !important;
        background-position: bottom !important;
        background-size: cover !important;
        height: 300px !important;
        width: 100% !important;
        left: 0 !important;
        transform: none !important;
        top: 0;
        position: relative;
    }
    
}
@media only screen and (max-width:900px) {
    .the-ticketmaster-lounge .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-3.wp-block-columns-is-layout-flex {
        width: 100%;
        padding: 0 2rem 20px;
    }
  
    .the-ticketmaster-lounge .background-beige {
        padding-top: 100px;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .the-ticketmaster-lounge .background-brick{
        flex-wrap: wrap !important;
    }
    .the-ticketmaster-lounge .background-brick .wp-block-column, .the-ticketmaster-lounge .background-wood {
        /*min-width: 100%;*/
        background-attachment: scroll !important;
        background-size: cover !important;
    }
    .the-ticketmaster-lounge .featured-img, .the-ticketmaster-lounge .intro img {
        width: 100% !important;
        position: relative;
        top: 60px !important;
    }
    
    .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1 {
        gap: 0 !important;
    
    }   

    .burt-block-party #intro .row::after {
        width: 110%;
        left: -50px;
    }
    .burt-block-party #intro img {
        right: 0px;
        width: 100% !important;
    }
    .burt-block-party .tribe-events-calendar-list__event-details.tribe-common-g-col {
        width: 53% !important;
    }
    .burt-block-party .tribe-events-calendar-list__event-featured-image-wrapper{
        max-width: 43% !important;
    }
    
    .burt-block-party .tribe-events-calendar-list__event-featured-image-wrapper {
        padding-right: 0 !important;
    }
   
    .burt-block-party #vendor-open .wp-block-column:last-child .wp-block-cover__image-background {
        /*background-position: 250% 100% !important;
        background-size: 95% auto !important;*/
    }
    #sponsors .size-medium img {
        max-height: 100px !important;
        width: 100% !important;
    }
    
}
@media only screen and (max-width:782px) {
    .burt-block-party #intro .row::after {
        width: 120%;
        left: -50px;
        overflow: hidden;
    }
    .burt-block-party #vendor-open .wp-block-column:first-child .wp-block-cover__image-background {
        background-size: 100% auto !important;
    }
    .burt-block-party #vendor-open .wp-block-column:last-child .wp-block-cover__image-background {
        background-position: 0% 100% !important;
        background-size: 100% auto !important;
    }
}
@media only screen and (max-width:768px) {
    #post-title img, .the-ticketmaster-lounge #post-title img {
        width: 72vw
    }

    #post-title {
        padding-left: 3rem;
        padding-right: 3rem
    }
    .the-ticketmaster-lounge .background-brick .row, .background-beige {
        gap: 0;
    }
    .the-ticketmaster-lounge #post-header-cnt {
        /*height: 200px !important;*/
    }
    // Block Party
    .burt-block-party #intro, #intro #content {
        padding: 0 15px !important;
    }
   
    .burt-block-party #faq .row {
        margin: 0 3.2rem !important;
    }
    .burt-block-party #faq:before {
        width: 3.8rem !important;
        height: 11rem !important;
        left: 10px !important;
    }
    .burt-block-party #faq #content{
        margin: 80px 0 30px !important; 
    }
    .burt-block-party #main-banner h4, .burt-block-party #main-banner .h4 {
        font-size: 1.8rem;
    }
    .burt-block-party .tribe-events-calendar-list__event-description{
        display: none;
    }
    // .burt-block-party .tribe-common-g-row.tribe-events-calendar-list__event-row.tribe-events-calendar-list__event-row--featured:last-of-type {
    //     margin-bottom: 10px;
    // }
    .burt-block-party h3.tribe-events-calendar-list__event-title a {
        font-size: 24px !important;
    }
    .burt-block-party h3.tribe-events-calendar-list__event-title {
        line-height: 1.5rem !important;
        margin-bottom: 10px;
    }
    .burt-block-party .tribe-event-date-start, .tribe-events-schedule h2, .tribe-events-schedule .h2 {
        font-size: 15px !important;
    }
    #lineup .photo-bu button, #lineup .photo-bu a {
        padding: 7px 14px 7px !important;
        font-size: 15px !important;
    }
    #lineup .photo-bu a:before{
        top: 0.25em;
    }
    .burt-block-party .tribe-events-calendar-list__event-details.tribe-common-g-col {
        width: 45% !important;
        padding-right: 0 !important;
    }
    .burt-block-party .tribe-events-calendar-list__event-featured-image-wrapper {
        max-width: 50% !important;
    }
    #lineup span.tribe-events-calendar-list__event-date-tag-weekday {
        font-size: 16px !important;
    }
    #sponsors #content {
        margin: 30px !important;
    }
    #sponsors:after {
        width: 70px !important;
        top: 10px;

    }
    #sponsors .size-medium img {
        max-height: 80px !important;
        width: 100% !important;
    }

    #sponsors h2 {
        font-size: 25px;
    }
    .burt-block-party  #VIP-tickets #content {
        padding: 60px 80px 40px !important;
    }
    #VIP-tickets #background-img{
        height: 240px !important;
    }
}

@media only screen and (max-width:576px) {
    #post-title {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
// TM LOUNGE
    .the-ticketmaster-lounge #post-header-cnt {
        /*height: 210px !important;*/
    }
    .the-ticketmaster-lounge #post-title{
        /*padding: 0 20px !important;*/
    }
    .the-ticketmaster-lounge #post-header-cnt::before {
        /*background: black;
        background: -moz-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);*/
    }
    .the-ticketmaster-lounge #post-title img {
        width: 83vw !important;
    }
    .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1 {
            
    }
    .the-ticketmaster-lounge .background-brick .row, .the-ticketmaster-lounge .background-beige {
        padding: 50px 30px 100px;
    }
    .the-ticketmaster-lounge .background-wood h3, .the-ticketmaster-lounge .background-wood .h3, .the-ticketmaster-lounge .background-wood .h3 {
        font-size: 40px;
        line-height: 45px;
    }
    .the-ticketmaster-lounge .wp-block-cb-carousel.cb-single-slide.slick-initialized.slick-slider.slick-dotted {
        top: -90px;
    }
    .the-ticketmaster-lounge .background-wood p {
        font-size: 20px !important;
    }   
    .the-ticketmaster-lounge .background-wood {
        padding: 0px 0 10px !important;
    } 
    // Block Party
    .burt-block-party #intro, #intro #content {
        padding: 0px !important;
    }
    .burt-block-party #intro .side-img {
        padding: 0 0 60px !important;
    }
    .burt-block-party #faq #content{
        padding: 80px 0 20px !important;
    }
    .burt-block-party #faq .row {
        margin: 0rem !important;
    }
    .burt-block-party #faq:before {
        width: 4rem !important;
        height: 10rem !important;
        left: 50px !important;
        transform: rotate(-90deg);
        top: -30px;
    }
    .burt-block-party details.wp-block-details.bi.float-right.bi-chevron-up.is-layout-flow.wp-block-details-is-layout-flow[open] {
        padding: 15px 20px 15px 25px !important;
    }
    .burt-block-party #faq summary, .burt-block-party #faq details p {
        font-size: 15px;
    }
    .burt-block-party .wp-block-details summary {
        width: 93%;
    }
    div#main-banner img {
        width: 80%;
    }
    .burt-block-party #main-banner h3, .burt-block-party #main-banner .h3 {
        font-size: 1.5rem !important;
        letter-spacing: 2.0px;
        margin-bottom: 20px;
    }
    .burt-block-party #main-banner h4, .burt-block-party #main-banner .h4, .burt-block-party #main-banner .h4 {
        font-size: 1.5rem;
        margin-top: 20px;
    }
    #lineup .photo-bu a:before{
        display: none;
    }
    .burt-block-party .tribe-events-calendar-list__event-date-tag.tribe-common-g-col {
        width: 5%;
    }
    .burt-block-party .tribe-events-calendar-list__event-wrapper.tribe-common-g-col {
        width: 95%;
    }
    .burt-block-party .tribe-events-calendar-list__event-details.tribe-common-g-col{
        padding-left: 17px !important;
    }
    #vendor-closed .fade-in-transform{
        padding: 0 30px !important;
    }
    #sponsors #content {
        padding: 50px 20px;
    }
    .burt-block-party #vendor-open .wp-block-cover.has-parallax {
        min-height: 200px !important;
    }
    
    .burt-block-party  #VIP-tickets #content {
        padding: 60px 45px 40px !important;
    }
    #VIP-tickets #background-img {
        height: 210px !important;
    }
    .burt-block-party #lineup {
        padding: 0;
    }
    #vendor-closed #content {
        margin: 50px 0;
    }
    #vendor-closed {
        padding: 0 !important;
    }
    #faq #content {
        padding: 80px 0 0 !important;
    }
    #sponsors {
        background-attachment: scroll !important;
    }
    #sponsors .wp-block-columns .wp-block-image img {
        max-height: 100% !important;
    }
}
@media only screen and (max-width:420px) {

    .burt-block-party #lineup article.tribe-events-calendar-list__event.tribe-common-g-row.tribe-common-g-row--gutters {
        flex-direction: column-reverse !important;
    }
    .burt-block-party .tribe-events-calendar-list__event-wrapper.tribe-common-g-col {
        width: 85% !important;
    }
    .burt-block-party .tribe-events-calendar-list__event-date-tag.tribe-common-g-col {
        width: 15% !important;
    }
    .burt-block-party .tribe-events-calendar-list__event-featured-image-wrapper {
        max-width: 100% !important;
        margin-top: 30px !important;
        padding: 0 !important;
    }
    .burt-block-party .tribe-events-calendar-list__event-details.tribe-common-g-col {
        width: 100% !important;
    }
    #sponsors #content {
        margin: 20px 0px !important;
    }
    #sponsors:after {
        width: 50px !important;
    }
    .burt-block-party  #VIP-tickets #content {
        padding: 40px 45px 20px !important;
    }
    #VIP-tickets h2, #VIP-tickets .h2, #VIP-tickets .h2 {
        font-size: 30px !important;
    }
    #VIP-tickets #background-img {
        height: 180px !important;
    }
}
@media only screen and (max-width:400px) {
    .the-ticketmaster-lounge #post-header-cnt {
        /*height: 150px !important;*/
    }

// Block Party
    .burt-block-party #faq:before {
        width: 4rem !important;
        height: 10rem !important;
        left: 50px !important;
        transform: rotate(-90deg);
        top: -30px;
    }
    .burt-block-party #main-banner h3, .burt-block-party #main-banner .h3 {
        font-size: 1.5rem !important;
        letter-spacing: 2px;
        color: #FFF;
        line-height: 1.5rem;
        margin-bottom: 20px;
    }
    #vendor-closed .fade-in-transform{
        padding: 0 25px !important;
    }
}


.brdr{
    width:100%;
    height:18px;
    background-image: url(/wp-content/themes/burt/images/bct-border.svg);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 140px auto;
    background-color: #013148
    /*position: absolute*/
}
.the-ticketmaster-lounge .background-wood h3, .the-ticketmaster-lounge .background-wood .h3, .the-ticketmaster-lounge .background-wood .h3, .the-ticketmaster-lounge .background-wood .h3 {
    max-width:950px !important;
    margin:auto;
}

.image-bleed-right {
    width:50%;
    height:570px;
    position:absolute;
    right:0;
    margin-top:70px;
    overflow:auto;
    background-image:url('https://tnse-website-uploads.s3.ca-central-1.amazonaws.com/burtoncummingstheatre/wp-content/uploads/2025/03/12145825/20240720-Matt-Duboff-Ticketmaster-Lounge-003-1.jpg');
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
} 

@media only screen and (max-width:1800px) {
    .image-bleed-right {
        height:530px !important;
    }
}
@media only screen and (max-width:1680px) {
    .image-bleed-right {
        height:550px !important;
    }
}
@media only screen and (max-width:1550px) {
    .image-bleed-right {
        background-size: auto 100%;
        height:520px !important;
        margin-top:50px !important;
    }
}
@media only screen and (max-width:1448px) {
    .image-bleed-right {
        background-size: 100% auto;
        height:490px;
        margin-top:40px;
    }
    .intro-text{
        padding-left:3rem !important;
        padding-right:3rem !important;
    }
}
@include media-breakpoint-down(xxl) {
    .image-bleed-right {
        height:460px !important;
    }
}
@media only screen and (max-width:1200px) {
    .image-bleed-right {
        margin-top:20px !important;
        height:450px !important;
    }
}
@media only screen and (max-width:1100px) {
    .image-bleed-right {
        margin-top:50px !important;
        height:380px !important;
    }

    .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1 {
        height:auto !important;
        position: relative !important;
    }
}

@media only screen and (max-width:830px) {
    .image-bleed-right {
        /*height:300px !important;*/
        margin-top:0 !important;
        flex-basis:100%;
        min-width:100% !important;
        display: block !important;
        position: relative !important;
        background-size:auto 100% !important;
    }

    .background-brick .wp-block-column{
        min-width:100% !important;
    }

    .image-bleed-right.dk{
        display:none !important;
    }

    .image-bleed-right.mb{
        display:block !important;
        margin-top:0 !important;
    }

    .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1{
        padding:3rem !important;
    }

    .intro-txt-inner{
        padding-top:0 !important;
        padding-bottom:0 !important;
    }
}
@media only screen and (min-width:831px) {
    .image-bleed-right.dk{
        display:inherit !important;
    }
    .image-bleed-right.mb{
        display:none !important;
    }

}
@include media-breakpoint-down(sm){
    .the-ticketmaster-lounge .wp-container-core-columns-is-layout-1{
        padding-left:1.5rem !important;
        padding-right:1.5rem !important;

    }
}
.intro-txt-inner{
    padding-right:40px;
}