// Seating Map - WordPress Theme Custom Styles

.blue-swatch{
    width:20px;
    height:20px;
    background-color:#093049;
    margin-top:4.5px
}

.green-swatch {
    width: 20px;
    height: 20px;
    background-color: #00A562;
    margin-top: 4.5px
}

.gold-swatch {
    width: 20px;
    height: 20px;
    background-color: #c6a260;
    margin-top: 4.5px
}

.darkgold-swatch {
    width: 20px;
    height: 20px;
    background-color: #855f19;
    margin-top: 4.5px
}

.bct-primary{
    width:150px
}